@{
    ViewData["Title"] = "Home Page";
}
<div style="background-image:url(/imgs/best-dsc4536-web.jpg)">
    <div class="container">
        <div class="card-body">
            <div id="carouselExampleCaptions" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/imgs/picture1.png" height="100%" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Put Patients Frist</h5>
                            <p>Some representative placeholder content for the first slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/imgs/gettyimages-450703126.jpg" height="100%" class="d-block w-100" height="760" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Compete To Win</h5>
                            <p>Some representative placeholder content for the second slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="~/imgs/picture2.png" height="100%" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Act Boldly</h5>
                            <p>Some representative placeholder content for the third slide.</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>
<br />
<!-- Blog cards section -->
<div class="card-body">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="~/imgs/art-logo-rgb-bl.jpg" class="card-img-top" style="width:100px">
                <div class="card-body">
                    <h5 class="card-title">
                        <b>MedtronicGPT has arrived. Here's what it can do for you</b>
                        <img src="~/imgs/gettyimages-1300745916-600x337.jpg" />
                    </h5>
                    <p class="card-text">
                        It should come as no surprise to anyone that artificial intelligence (AI) tools like ChatGPT are here — and here to stay. We use the technology in the devices we invent and we’re increasingly using Generative AI (Gen AI) tools to get our work done.
                        <br />
                        While there are many AI initiatives across our company, perhaps the broadest rollout is MedtronicGPT, a companywide Gen AI platform now available to all employees. It empowers employees to increase their productivity and automate processes, drive innovation, and unlock new possibilities.
                        <br />
                        How does MedtronicGPT work? Inside Medtronic spoke to two employees, Brand Program Director Tom de Ranitz and Senior Principal IT Production Management Analyst Brian Nelb, to understand how they use the platform in their daily work. (Hint: Each use the application in vastly different ways.)
                    </p>
                </div>
                <div class="card-footer text-center"><b>Inside Medtronic</b></div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="container">
                <h2 class="my-4"><i>Post to Viva Engage</i></h2>
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img class="card-img-top" src="https://eastus1-mediap.svc.ms/transform/thumbnail?provider=spo&inputFormat=mp4&cs=fFNQTw&correlationId=62003fa1-2007-5000-d91f-ee94cd8d0fbb&docid=https%3A%2F%2Fmedtronic.sharepoint.com%2Fsites%2FInsideMDT%2F_api%2Fv2.0%2Fdrives%2Fb!V6BMNXVCVkGDow7527yuaRXcYHCyKXdFgOo8j7MPyltCyvNgyn1tTqBLB2BjV-Wx%2Fitems%2F01L4C7WWATHF4I42IZ7ZELTUVCCG7TNLGJ%3Ftempauth%3Dv1.eyJzaXRlaWQiOiIzNTRjYTA1Ny00Mjc1LTQxNTYtODNhMy0wZWY5ZGJiY2FlNjkiLCJhdWQiOiIwMDAwMDAwMy0wMDAwLTBmZjEtY2UwMC0wMDAwMDAwMDAwMDAvbWVkdHJvbmljLnNoYXJlcG9pbnQuY29tQGQ3M2EzOWRiLTZlZGEtNDk1ZC04MDAwLTc1NzlmNTZkNjhiNyIsImV4cCI6IjE3MjE3MzA1MjMifQ.CgoKBHNuaWQSAjI5EgsIwJDo-762lT0QBRoMMjE2Ljc1LjIxOC41IhRtaWNyb3NvZnQuc2hhcmVwb2ludCoscllvYkxpMDREZVl4RElBQmZ3UzJ2U1lkb2VETkxnZmlSVSt3VW5yWHFOYz0wrQE4AUIQoT8AYgcgAFDZH-6UzY0Pu0oQaGFzaGVkcHJvb2Z0b2tlblISWyJrbXNpIiwiZHZjX2NtcCJdYgR0cnVlaiQ0ODQwNzllZi1iMGFkLTQwYmQtYjRjNC05OWY2NmRiNjBkMDdyKTBoLmZ8bWVtYmVyc2hpcHwxMDAzMjAwMjk0Y2JlMGI3QGxpdmUuY29tegEwwgElMCMuZnxtZW1iZXJzaGlwfHBoYW10ODZAbWVkdHJvbmljLmNvbcgBAQ.zaArRCPbYvsxroomDa7wiRehrVbw7tj_bmtjz6HlNwM%26version%3DPublished&encodeFailures=1&width=1280&height=720" height="275" alt="Card image cap">
                            <div class="card-body" style="height:250px">
                                <h5 class="card-title">Where we’ve been guides us to where we need to go</h5>
                                <p class="card-text">Watch this episode of Off Script with EVP and President of our Medical Surgical Portfolio and Americas Mike Marinaro</p>
                                <a href="https://medtronic.sharepoint.com/sites/InsideMDT#%E2%80%98where-we%E2%80%99ve-been-guides-us-to-where-we-need-to-go" class="btn btn-primary">Read More &rarr;</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img class="card-img-top" src="https://medtronic.sharepoint.com/_api/v2.1/shares/u!aHR0cHM6Ly9tZWR0cm9uaWMuc2hhcmVwb2ludC5jb20vc2l0ZXMvR2VvZmZNYXJ0aGEvU2l0ZUFzc2V0cy9TaXRlUGFnZXMvaHlqb2NrcGIvQSBNZXNzYWdlIGZyb20gR00gMy5wbmc/driveItem/thumbnails/0/c400x99999/content?prefer=noRedirect,extendCacheMaxAge&clientType=modernWebPart" height="275" alt="Card image cap">
                            <div class="card-body" style="height:250px">
                                <h5 class="card-title">Global Finance Leadership Change</h5>
                                <p class="card-text">Today I am sharing the news that after 8 years with Medtronic, Karen Parkhill, Executive Vice President and Chief Financial Officer.</p>
                                <a href="https://medtronic.sharepoint.com/sites/GeoffMartha/SitePages/Global-Finance-Leadership-Change.aspx" class="btn btn-primary">Read More &rarr;</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img class="card-img-top" src="https://medtronic.sharepoint.com/_api/v2.1/shares/u!aHR0cHM6Ly9tZWR0cm9uaWMuc2hhcmVwb2ludC5jb20vc2l0ZXMvSW5zaWRlTURUL1NpdGVBc3NldHMvU2l0ZVBhZ2VzL0JyaWFuLVBlY2stbmV2ZXItZ290LXRvLWRvLWhpcy1pbnRlcm5zaGlwLi1Ob3csLWhpcy1icm90aGVyLUNvbGluLC9Db2xpbi5wbmc/driveItem/thumbnails/0/c960x99999/content?prefer=noRedirect,extendCacheMaxAge&clientType=modernWebPart" height="275" alt="Card image cap">
                            <div class="card-body" style="height:250px">
                                <h5 class="card-title">Brian Peck never got to do his internship. Now, his brother Colin is completing it in his memory</h5>
                                <p class="card-text">Colin Peck described accepting an internship offer from Medtronic as “surreal.”</p>
                                <a href="https://medtronic.sharepoint.com/sites/InsideMDT/SitePages/Brian-Peck-never-got-to-do-his-internship.-Now%2C-his-brother-Colin%2C.aspx" class="btn btn-primary">Read More &rarr;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript">
        function Closebtn() {
            document.getElementById('uname').value = '';
            document.getElementById('pwd').value = '';
            document.getElementById('myCheck').checked = false;
        };
    </script>
    <script type="text/javascript">
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        var mysignup = '@TempData["signup"]';
        var mylogin = '@TempData["login"]';
        var mylogout = '@TempData["logout"]'
        $(document).ready(function () {
            if (mysignup.length >0)
            {
                toastr["success"]("User registration successful !")
            }
            if (mylogin == "Fail")
            {
                toastr["error"]("Username or Password Incorrect!", "Login Fail")
            }
            if (mylogin == "Success") 
            {
                toastr["success"]("Welcom! @ViewBag.us")
            }
            if (mylogout.length > 0)
            {
                toastr["success"]("Log Out successful !")
            }
        });
     </script>
    
}